{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome!</h1>

    <div>
        {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('app_logout') }}">Logout</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">Admin panel</a>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Register</a>
        {% endif %}
        <a href="{{ path('api_entrypoint') }}">Documentation</a>
    </div>
{% endblock %}
